<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
 <title>Create Sysparam</title>

</head>
<body>
	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">Input Data Sysparam</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading" th:text="${errorinfo}">Input Data Sysparam
							</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6">
									<form role="form" method="post" th:action="@{/sysparam/create}"
										th:object="${Jdbc_Payroll_Sysparam_Model}">
										<div class="form-group">
											<label>ID </label> <input class="form-control"
												type="text" th:field="*{ID}" id="ID"
												placeholder="ID">
										</div>
										<div class="form-group">
											<label>NAME </label> <input class="form-control"
												th:field="*{NAME}" id="NAME" placeholder="NAME">
										</div>
										<button type="submit" class="btn btn-default">Submit
											Button</button>
									</form>
								</div>
								<!-- /.col-lg-6 (nested) -->
							</div>
							<!-- /.row (nested) -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->
	</div>
</body>
<script>
	$(function() {
		$('#BILL').on(
				'keydown',
				'#BILL_AMOUNT',
				function(e) {
					-1 !== $.inArray(e.keyCode, [ 46, 8, 9, 27, 13, 110, 190 ])
							|| /65|67|86|88/.test(e.keyCode)
							&& (!0 === e.ctrlKey || !0 === e.metaKey) || 35
					<= e.keyCode && 40 > = e.keyCode
							|| (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode)
							&& (96 > e.keyCode || 105 < e.keyCode)
							&& e.preventDefault()
				});
	})
</script>
</html>