<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
 <title>Detail Sysparam</title>

</head>
<body>
	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script>
		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive : true
			});
		});
	</script>
	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Detail Sysparam</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<strong>Detail Sysparam</strong>
								</div>
								<!-- /.panel-heading -->
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="table-responsive">
												<table width="100%" class="table table-striped">
													<tbody>
														<tr>
															<td>1.</td>
															<td>ID</td>
															<td th:text="${data.ID}"></td>
														</tr>
														<tr>
															<td>2.</td>
															<td>Name</td>
															<td th:text="${data.NAME}"></td>
														</tr>
													</tbody>
												</table>
											</div>
											<!-- /.table-responsive -->
										</div>
										<!-- /.col-lg-6 -->
									</div>
									<!-- /.row -->

									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">
													<a th:href="@{/sysparam/edit(ID=${data.ID})}"
														class="btn btn-default btn-sm"> <span
														class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
														Edit
													</a>
													<!-- /modal fade -->
												</div>
												<!-- /col-sm-offset-2 -->
											</div>
											<!-- /form-group -->
										</div>
										<!-- /.col-lg-6 -->
									</div>
									<!-- /.row -->
								</div>
								<!-- /.panel-body -->
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.col-lg-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-lg-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#layout:fragment -->
</body>
</html>