<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
 <title>Edit Sysparam</title>

</head>
<body>
	<div layout:fragment="content">

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">Edit Sysparam</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading" th:text="${errorinfo}">Edit
							Company</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<form role="form" method="post" th:action="@{/sysparam/edit}"
										th:object="${Jdbc_Payroll_Sysparam_Model}">
										<div class="form-group">
											<label>ID</label> <input class="form-control" type="text"
												th:field="*{ID}" id="ID" placeholder="ID"
												readonly="readonly"> <span
												th:if="${#fields.hasErrors('ID')}" th:errors="*{ID}"></span>
										</div>
										
										 <div class="form-group">
                                            <label>Status</label>
                                            <select class="form-control"type="text" th:field="*{NAME}" id="NAME">
                                                <option value="yes">Enabled</option>
                                                <option value="no">Disabled</option>
                                            </select>
                                        </div>
										<button type="submit" class="btn btn-default">Submit
											Button</button>
										<button type="reset" class="btn btn-default">Reset
											Button</button>
									</form>
								</div>
								<!-- /.col-lg-6 (nested) -->
							</div>
							<!-- /.row (nested) -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	
</body>

</html>