<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
 <title>List Sysparam</title>
</head>
<body>
		<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	

		<div layout:fragment="content">
			<div id="page-wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="page-header">List Sysparam</h2>
					</div>
					<!-- /.col-lg-12 -->
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<strong>List Sysparam</strong>
							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<form class="form" method="post"
											th:action="@{/Company/list}"
											th:object="${jdbc_Payroll_Sysparam_Model}" autocomplete="off">
											<div class="form-group row">
												<label for="ID" class="col-sm-2">Param ID</label>
												<div class="input-group col-sm-2">
													<input type="text" class="form-control" id="ID" th:field="*{ID}"
														name="ID" placeholder="ID" />
												</div>
											</div>
											<button type="submit" class="btn btn-primary">Search</button>
											<p />
										</form>
									</div>
									<!-- /.col-lg-12 -->
								</div>
								<!-- /.row -->
								<div class="row">
									<div class="col-lg-12">
										<table width="100%"
											class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>No</th>
													<th>ID</th>
													<th>Name</th>
												</tr>
											</thead>
											<tbody>
												<tr class="odd gradeX" th:each="p,iStat : ${data}">
													<td th:text="${iStat.count}+(${hal}*${jmlhal})"></td>
													<td><a th:href="@{/sysparam/detail(ID=${p.ID})}"
														th:text="${p.ID}"></a></td>
													<td th:text="${p.NAME}"></td>
												</tr>
											</tbody>
										</table>
										<!-- /.table-responsive -->
									</div>
									<!-- /.col-lg-12 -->
								</div>
								<!-- /.row -->
								<div class="row">
									<div class="col-sm-6">
										<div sd:pagination-summary="">info</div>
									</div>
									<div class="col-sm-6">
										<nav class="pull-right">
											<ul class="pagination" sd:pagination="full">
												<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
												<li class="disabled"><a href="#" aria-label="Previous"><span
														aria-hidden="true">&laquo;</span></a></li>
												<li class="active"><a href="#">1 <span
														class="sr-only">(current)</span></a></li>
											</ul>
										</nav>
									</div>
								</div>
								<!-- /.paging -->
							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->

			</div>
			<!-- /#page-wrapper -->

		</div>
		<!-- /#layout:fragment -->
</body>

</html>
