<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Add User</title>
</head>

<body>

	<div layout:fragment="content">
 
  	
	          
        <div id="page-wrapper">
        	<div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Add User</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" th:text="${errorinfo}">Input Data Sysparam
							</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" method="post" th:action="@{/admin/addClient}" th:object="${jdbc_Payroll_User_Model}">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input class="form-control" type="text" th:field="*{USERNAME}" id="USERNAME" placeholder="username">
                                           
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input class="form-control" type="password" th:field="*{PASSWORD}" id="PASSWORD" placeholder="Password">
                                           
                                        </div>
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control" th:field="*{NAME}" id="NAME" placeholder="NAME">
                                           
                                        </div>
                                       
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select class="form-control" id="ENABLED" name="ENABLED" th:field="*{ENABLED}">
                                                <option value="1">1 Enabled</option>
                                                <option value="0">0 Disabled</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Role Menu</label>
                                        </div>
                                        
                                        <table width="100%" class="table table-striped table-bordered table-hover">
			                                <thead>
			                                    <tr>
			                                        <th>No</th>
			                        				<th>Check</th>
			                        				<th>Role Menu</th>
			                                    </tr>
			                                </thead>
			                                <tbody>
			                                    <tr class="odd gradeX" th:each="p,iStat : ${listRole}">
			                        				<td th:text="${iStat.count}"></td>
			                        				<td>
			                        					<input type="checkbox" name="ROLE" th:field="*{ROLE_USER}" th:value="${p.ROLE}"/>
			                        				</td>
			                        				<td th:text="${p.ROLE}"></td>
			                    				</tr>                                
			                    			</tbody>
			                            </table>
                            
                                        <button type="submit" class="btn btn-default">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                             </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
	</div>
</body>

</html>
