<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Detail Client</title>
     </head>
     <body>
		<!-- Page-Level Demo Scripts - Tables - Use for reference -->
		
		<div layout:fragment="content">
			<div id="page-wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Detail Company</h1>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->

				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<strong>Detail Client</strong>
									</div>
									<!-- /.panel-heading -->
									<div class="panel-body">
										<div class="row">
											<div class="col-lg-12">
												<div class="table-responsive">
													<table width="100%" class="table table-striped">
														<tbody>
															<tr>
																<td>1.</td>
																<td>USERNAME</td>
																<td th:text="${data.USERNAME}"></td>
															</tr>
															<tr>
																<td>2.</td>
																<td>DATE CREATE</td>
																<td th:text="${data.DATE_CREATED}"></td>
															</tr>     
															<tr>
																<td>3.</td>
																<td>STATUS</td>
																<td th:text="${data.ENABLED}"></td>
															</tr>
															
														</tbody>
													</table>
												</div>
												<!-- /.table-responsive -->
											</div>
											<!-- /.col-lg-6 -->
										</div>
										<!-- /.row -->

										<div class="row">
											<div class="col-lg-12">
												<div class="form-group">
													<div class="col-sm-offset-2 col-sm-10">
													<a th:href="@{/admin/editClient(username=${data.USERNAME})}" class="btn btn-default btn-sm">
							                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							                            Edit
							                        </a>
													<!-- Button trigger modal -->
													<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
													  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
													  Hapus
													</button>
														<!-- Modal -->
														<div class="modal fade" id="exampleModalCenter"
															tabindex="-1" role="dialog"
															aria-labelledby="exampleModalCenterTitle"
															aria-hidden="true">
															<div class="modal-dialog modal-dialog-centered"
																role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title" id="exampleModalLongTitle">
																			<b><span
																				class="glyphicon glyphicon-exclamation-sign"
																				aria-hidden="true"></span></b> <b>Peringatan</b>
																		</h5>
																		<button type="button" class="close"
																			data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">&times;</span>
																		</button>
																	</div>
																	<!-- /modal-body -->
																	 <div class="modal-body">
														      	<label for="protocol" class="col-sm-10 control-label">Anda Yakin Akan Menghapus data ?</label>
														      	<br/>
														      	<label for="protocol" class="col-sm-3 control-label"><b>Client Name : </b></label>
														      	<label for="protocol" class="col-sm-4 control-label"><b th:text="${data.USERNAME}">Corporate</b></label>
														      	<br/>
													      </div>
													      <!-- /modal-body -->
																	<div class="modal-footer">
																		<form class="form-horizontal" method="post"
																			th:action="@{/admin/deleteClient}">
																			<button type="button" class="btn btn-secondary"
																				data-dismiss="modal">
																				No <span class="glyphicon glyphicon-remove"
																					aria-hidden="true"></span>
																			</button>
																			<input type="hidden" name="id" th:field="${data.USERNAME}" />
																			<button type="submit" class="btn btn-secondary">
																				Ok <span class="glyphicon glyphicon-ok"
																					aria-hidden="true"></span>
																			</button>
																		</form>
																	</div>
																	<!-- /modal-footer -->
																</div>
																<!-- /modal-content -->
															</div>
															<!-- /modal-dialog -->
														</div>
														<!-- /modal fade -->
													</div>
													<!-- /col-sm-offset-2 -->
												</div>
												<!-- /form-group -->
											</div>
											<!-- /.col-lg-6 -->
										</div>
										<!-- /.row -->
									</div>
									<!-- /.panel-body -->
								</div>
								<!-- /.panel -->
							</div>
							<!-- /.col-lg-6 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.col-lg-6 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#layout:fragment -->
</body>
</html>