<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>List Client</title>
</head>

<body>
	<div layout:fragment="content">
        <div id="page-wrapper">
 			<div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">List User</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
             <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>List User</strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        
                        	
                            <table id="dataTables-example" width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                       
                        				<th>USERNAME</th>
                        				
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" th:each="p,iStat : ${data}">
                                    <td><a th:href="@{/admin/detailClient(username=${p.USERNAME})}" th:text="${p.USERNAME}"></a></td>
                        			
                        				
                    				</tr>                                
                    			</tbody>
                            </table>
                            <!-- /.table-responsive -->
                          
				            <!-- /.paging -->  
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#layout:fragment -->
	
</body>

</html>
