<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
 <title>Detail Bulksumit</title>
</head>
<body>
	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	
	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Detail Bulksumlist</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<strong>Detail Bulksumlist</strong>
								</div>
								<!-- /.panel-heading -->
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="table-responsive">
												<table width="100%" class="table table-striped">
													<tbody>
														<tr>
															<td>1.</td>
															<td>File Name</td>
															<td th:text="${data.FILE_NAME}"></td>
														</tr>
														<tr>
															<td>2.</td>
															<td>Ref Num</td>
															<td th:text="${data.TRANSACTION_REF_NO}"></td>
														</tr>
														<tr>
															<td>3.</td>
															<td>Company Code</td>
															<td th:text="${data.CORP_ID}"></td>
														</tr>
														<tr>
															<td>4.</td>
															<td>Company Name</td>
															<td th:text="${data.CORP_NAME}"></td>
														</tr>
														<tr>
															<td>5.</td>
															<td>Acc No</td>
															<td th:text="${data.ACCOUNT_NO}"></td>
														</tr>
														<tr>
															<td>6.</td>
															<td>Created Date</td>
															<td th:text="${data.CREATED_DT}"></td>
														</tr>
														<tr>
															<td>7.</td>
															<td>Trx Count</td>
															<td th:text="${data.TRX_COUNT}"></td>
														</tr>
														<tr>
															<td>8.</td>
															<td>Total Amount</td>
															<td th:text="${data.TOTAL_AMOUNT}"></td>
														</tr>
														<tr>
															<td>9.</td>
															<td>Acc Balance</td>
															<td th:text="${data.ACCOUNT_BALANCE}"></td>
														</tr>
														<tr>
															<td>10.</td>
															<td>Move Flag</td>
															<td th:text="${data.MOVE_FLAG}"></td>
														</tr>
														<tr>
															<td>11.</td>
															<td>Is Processed</td>
															<td th:text="${data.IS_PROCESSED}"></td>
														</tr>
														<tr>
															<td>12.</td>
															<td>SRVC_CD</td>
															<td th:text="${data.SRVC_CD}"></td>
														</tr>
												</table>
											</div>
											<!-- /.table-responsive -->
										</div>
										<!-- /.col-lg-6 -->
									</div>
									
								</div>
								<!-- /.panel-body -->
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.col-lg-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.col-lg-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#layout:fragment -->
</body>
</html>