<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
 <title>List BulkSumit</title>
</head>
<body>
	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script>
		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive : true
			});
		});
	</script>


	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">List Bulksumlist</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>List Bulksumlist</strong>
							<p th:object=$errorinfo> </p>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<form class="form" method="post"
										th:action="@{/bulksumit/list}"
										th:object="${findBulk}" autocomplete="off">
										<div class="form-group row">
											<label for="FILE_NAME" class="col-sm-2">File Name</label>
											<div class="input-group col-sm-2">
												<input type="text" class="form-control" id="fileName"
													th:field="*{fileName}" name="fileName"
													placeholder="FILE NAME" />
											</div>
										</div>
										<div class="form-group row">
											<label for="companyCode" class="col-sm-2">Company Code</label>
											<div class="input-group col-sm-2">
												<input type="text" class="form-control" id="companyCode"
													th:field="*{companyCode}" name="companyCode"
													placeholder="COMPANY CODE" />
											</div>
										</div>
										<div class="form-group row">
							            	<label class="col-sm-2" for="date">Date</label>
							            	<div class="input-daterange input-group col-sm-2" id="datepicker">
											    <input type="text" class="input-sm form-control" name="date1" placeholder="dd/mm/yyyy" th:field="*{date}"/>
											 </div>
												<script type="text/javascript">
													$('#datepicker').datepicker({
													    format: "dd/mm/yyyy",
													    todayBtn: "linked",
													    clearBtn: true,
													    todayHighlight: true
													});
												</script>
											
											</div> 
										<button type="submit" class="btn btn-primary">Search</button>
										<p />
									</form>
								</div>
								<!-- /.col-lg-12 -->
							</div>
							<!-- /.row -->
							<div class="row">
								<div class="col-lg-12">
									<table width="100%"
										class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>No</th>
												<th>File Name</th>
												<th>Company Code</th>
												<th>Company  Name</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr class="odd gradeX" th:each="p,iStat : ${data}">
												<td th:text="${iStat.count}+(${hal}*${jmlhal})"></td>
												<td><a th:href="@{/bulksumit/detail(FILE_NAME=${p.FILE_NAME})}"
														th:text="${p.FILE_NAME}"></a></td>
												<td th:text="${p.CORP_ID}"></td>
												<td th:text="${p.CORP_NAME}"></td>
												<td> <a type="button" class="btn btn-danger" th:href="@{/bulksumit/list/move(FILE_NAME=${p.FILE_NAME},ID=${p.CORP_ID})}">
											Move</a></td>
											</tr>
										</tbody>
									</table>
									<!-- /.table-responsive -->
								</div>
								<!-- /.col-lg-12 -->
							</div>
							<!-- /.row -->
							<div class="row">
								<div class="col-sm-6">
									<div sd:pagination-summary="">info</div>
								</div>
								<div class="col-sm-6">
									<nav class="pull-right">
										<ul class="pagination" sd:pagination="full">
											<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
											<li class="disabled"><a href="#" aria-label="Previous"><span
													aria-hidden="true">&laquo;</span></a></li>
											<li class="active"><a href="#">1 <span
													class="sr-only">(current)</span></a></li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /.paging -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#layout:fragment -->
</body>

</html>
